{% extends 'base.html' %}

{% block title %}
  Todo Lists
{% endblock title %}
Todo Lists
</head>
{% block content %}
  <main>
    <div>
      <h1>Create A New List</h1>
      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button>Create</button>
      </form>
    </div>
  </main>
{% endblock content %}
