{% extends 'base.html' %}

{% block title %}
Todo Lists
{% endblock title %}
</head>
{% block content %}
<main>
    <div>
        <h1>{{ todo.name }}</h1>
        <p>
            <a href="{% url 'todo_list_update' todo.id %}">Edit</a>
            <a href="{% url 'todo_list_delete' todo.id %}">Delete</a>
        </p>
        <h2>Tasks</h2>
        <table>
            <thead>
                <tr>
                    <th>Task</th>
                    <th>Due Date</th>
                </tr>
            </thead>
            <tbody>
                {% for item in todo.items.all %}
                <tr>
                    <td>
                        <a href="{% url 'todo_item_update' item.id %}">{{ item.task }}</a>
                    </td>
                    <td>{{ item.due_date }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</main>
{% endblock content %}
