{% extends 'base.html' %}

{% block title %}
Todo Lists
{% endblock title %}

</head>
{% block content %}
<main>
    <div>
        <h1>My Lists</h1>
        <p>
            <a href="{% url 'todo_list_create' %}">Create A New List</a>
        </p>
        <p>
            <a href="{% url 'todo_item_create' %}">Create A New Item</a>
        </p>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Number of items</th>
                </tr>
            </thead>
            <tbody>
                {% for todo in todo_list.all %}
                <tr>
                    <td>
                        <a href="{% url 'todo_list_detail' todo.id %}">{{ todo.name }}</a>
                    </td>
                    <td>{{ todo.items.all|length }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</main>
{% endblock content %}
